{% extends 'layout/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
     <h1>About</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio maxime, quas aliquid sequi eius nisi dolore soluta quaerat fugiat quisquam at distinctio, corrupti, ad praesentium quod suscipit quae ducimus accusantium.</p>
    
    {% endblock content %}



   
</body>
</html>